@font-face {
    font-family: 'Anuphan-Medium';
    src: url('../fonts/Anuphan-Medium.ttf') format('truetype'),
        url('../fonts/anuphan-medium.woff2') format('woff2'),
        url('../fonts/anuphan-medium.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'Anuphan-Regular';
    src: url('../fonts/Anuphan-Regular.ttf') format('truetype'),
        url('../fonts/anuphan-regular.woff2') format('woff2'),
        url('../fonts/anuphan-regular.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'SFUIText-SemiBold';
    src: url('../fonts/SFUIText-Semibold.ttf') format('truetype'),
        url('../fonts/sfuitext-semibold.woff2') format('woff2'),
        url('../fonts/sfuitext-semibold.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'Sarabun-Regular';
    src: url('../fonts/Sarabun-Regular.ttf') format('truetype'),
        url('../fonts/Sarabun-Regular.woff2') format('woff2'),
        url('../fonts/Sarabun-Regular.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'Javanese Text';
    src: url('../fonts/javatext.ttf') format('truetype');
    font-style: normal;
}

@font-face {
  font-family: 'Anuphan-Bold';
  src: url('../fonts/Anuphan-Bold.eot');
  src: url('../fonts/Anuphan-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Anuphan-Bold.woff2') format('woff2'),
      url('../fonts/Anuphan-Bold.woff') format('woff'),
      url('../fonts/Anuphan-Bold.ttf') format('truetype'),
      url('../fonts/Anuphan-Bold.otf') format('opentype'),
      url('../fonts/Anuphan-Bold.svg#Anuphan-Bold') format('svg');
  font-style: normal;
}

@font-face {
  font-family: 'Sarabun-Medium';
  src: url('../fonts/Sarabun-Medium.ttf') format('truetype'),
      url('../fonts/Sarabun-Medium.woff2') format('woff2'),
      url('../fonts/Sarabun-Medium.woff') format('woff');
  font-style: normal;
}
