.txtFee > .v-input__control {
    height: 45px;
  }
  .txtFee > .v-input__control > .v-input__slot {
    margin-bottom: 0;
    background-color: #fff;
  }
  .txtFee.v-text-field--outlined fieldset {
    position: relative;
    display: none;
  }
  .txtFee.theme--light.v-text-field > .v-input__control > .v-input__slot:before {
    border: none;
  }
  .txtFee.v-text-field > .v-input__control > .v-input__slot > .v-text-field__slot {
    font-family: "Anuphan-Regular";
    font-size: 14px;
    line-height: 18px;
  }
  .txtFee.v-text-field--outlined .v-label {
    top: 0;
    margin-bottom: 0;
    font-family: "Anuphan-Regular";
    font-size: 14px;
    line-height: 18px;
    color: #617D8C;
  }
  .txtFee.v-text-field.v-text-field--enclosed .v-text-field__details {
    display: none;
  }
  .txtFee.v-text-field input {
    padding: 0;
    text-align: right;
  }
  .txtOtherFee > .v-input__control {
    height: 45px;
  }
  .txtOtherFee > .v-input__control > .v-input__slot {
    padding: 14px 16px 13px;
    margin-bottom: 0;
    min-height: 45px;
    max-height: 45px;
    background-color: #fff;
  }
  .txtOtherFee.v-text-field--outlined fieldset {
    position: relative;
    display: none;
  }
  .txtOtherFee.theme--light.v-text-field > .v-input__control > .v-input__slot:before {
    border: none;
  }
  .txtOtherFee.v-text-field > .v-input__control > .v-input__slot > .v-text-field__slot {
    font-family: "Anuphan-Regular";
    font-size: 14px;
    line-height: 18px;
  }
  .txtOtherFee.v-text-field--outlined .v-label {
    top: 0;
    margin-bottom: 0;
    font-family: "Anuphan-Regular";
    font-size: 14px;
    line-height: 18px;
    color: #617D8C;
  }
  .txtOtherFee.v-text-field.v-text-field--enclosed .v-text-field__details {
    display: none;
  }
  .txtOtherFee.v-text-field input {
    padding: 0;
    text-align: right;
  }
.v-progress-circular {
    margin: 80% 47%;
    color: #3ba9fc;
  }
  .txtDetail  > .v-input__control {
    height: 43px;
  }
  .txtDetail > .v-input__control > .v-input__slot {
    padding: 14px 24px 13px;
    margin-bottom: 0;
    min-height: 43px;
    max-height: 43px;
    background-color: #fff;
  }
  .txtDetail.v-text-field--outlined fieldset {
    position: relative;
    display: none;
  }
  .txtDetail.theme--light.v-text-field > .v-input__control > .v-input__slot:before {
    border: none;
  }
  .txtDetail.v-text-field > .v-input__control > .v-input__slot > .v-text-field__slot {
    font-family: "Anuphan-Regular";
    font-size: 14px;
    line-height: 18px;
  }
  .txtDetail.v-text-field--outlined .v-label {
    top: 0;
    margin-bottom: 0;
    font-family: "Anuphan-Regular";
    font-size: 14px;
    line-height: 18px;
    color: #617D8C;
  }
  .txtDetail.v-text-field.v-text-field--enclosed .v-text-field__details {
    display: none;
  }
  .txtDetail.v-text-field input {
    padding: 0;
  }