.v-progress-circular {
    margin: 80% 47%;
    color: #3ba9fc;
  }
  .v-input--selection-controls {
    padding: 0;
    margin: 0;
  }
  .v-input--selection-controls .v-input__slot {
    margin-bottom: 0;
  }
  .v-input--selection-controls__input {
    width: 18px;
    height: 18px;
  }
  .v-input--selection-controls__input .v-icon {
    font-size: 20px !important;
    color: #3BA9FE !important;
    line-height: 18px !important;
  }
  .v-input--selection-controls__input input[role=checkbox] {
    width: 18px;
    height: 18px;
  }
  .v-input--selection-controls__ripple {
    width: 18px;
    height: 18px;
    margin: 0;
    left: 4px;
    top: calc(50% - 10px);
  }
  .v-input--selection-controls .v-input__slot > .v-label {
    margin-bottom: 0;
    margin-left: 8px;
    font-family: 'Sarabun-Regular';
    font-size: 14px;
    color: #4F5358;
    line-height: 18px;
  }
  p.MsoNormal {
    font-family: 'Sarabun-Regular' !important;
    font-size: 14px !important;
    color: #4f5358 !important;
    line-height: 24px !important;
  }
  p.MsoNormal span {
    font-family: 'Sarabun-Regular', 'Javanese Text' !important;
    font-size: 14px !important;
    color: #4f5358 !important;
    line-height: 24px !important;
  }