.v-progress-circular {
    margin: 80% 47%;
    color: #3ba9fc;
  }
  .txtForm.v-text-field.v-text-field--enclosed:not(.v-text-field--rounded)  > .v-input__control {
    height: 45px;
  }
  .txtForm.v-text-field.v-text-field--enclosed:not(.v-text-field--rounded)  > .v-input__control > .v-input__slot {
    padding: 12px 16px;
    margin-bottom: 0;
    min-height: auto;
    max-height: 45px;
    background-color: #fff;
  }
  .txtForm.v-text-field--outlined fieldset {
    position: relative;
    display: none;
  }
  .txtForm.v-text-field--outlined .v-label {
    top: 0;
    margin-bottom: 0;
    font-family: "Anuphan-Regular";
    font-size: 14px;
    line-height: 18px;
    color: #617D8C;
  }
  .txtForm.v-text-field.v-text-field--enclosed .v-text-field__details {
    display: none;
  }
  .txtForm.v-text-field input {
    padding: 0;
  }
  .txtForm.v-text-field--enclosed .v-input__append-inner {
    margin-top: 0;
  }
  .txtForm.v-text-field--enclosed .v-input__append-inner > .v-input__icon > .v-icon {
    color: #D4C8C8;
  }
  .v-application--is-ltr .v-text-field--outlined fieldset {
    padding: 0;
  }
  #PopUp {
    padding: 30px 0 10px;
  }
  #PopUp > .popup-header {
      margin: 0 auto 11px;
      padding: 0 35px;
      text-align: center;
      border: none;
  }
  #PopUp > .popup-header > .icon-header {
        width: 50px;
        height: 50px;
        margin: 0 auto;
  }
  #PopUp > .popup-body {
      margin: 0 auto 20px;
      padding: 0 35px;
      text-align: center;
      font-family: 'Anuphan-Regular';
      font-size: 16px;
      color: #000;
      line-height: 24px;
  }
  #PopUp > .v-card__actions {
    padding: 0 35px;
    height: fit-content;
  }
  #PopUp > .v-card__actions >.modal-default-button {
      text-align: center;
      background: none;
      border: none;
      margin: 0 auto;
      padding: 0;
      letter-spacing: 0;
  }
  #PopUp > .v-card__actions >.modal-default-button .lbBtnPopUp {
    font-family: 'Anuphan-Regular';
    font-size: 18px;
    color: #3ba9fe;
    line-height: 23px;
  }
  .v-dialog {
    width: 100%;
    max-height: 100%;
  }