#PopUp {
    padding: 30px 0 10px;
  }
  #PopUp > .popup-header {
      margin: 0 auto 11px;
      padding: 0 35px;
      text-align: center;
      border: none;
  }
  #PopUp > .popup-header > .icon-header {
        width: 50px;
        height: 50px;
        margin: 0 auto;
  }
  #PopUp > .popup-body {
      margin: 0 auto 20px;
      padding: 0 35px;
      text-align: center;
      font-family: 'Anuphan-Regular';
      font-size: 16px;
      color: #000;
      line-height: 24px;
  }
  #PopUp > .v-card__actions {
    padding: 0 35px;
    height: fit-content;
  }
  #PopUp > .v-card__actions >.modal-default-button {
      text-align: center;
      background: none;
      border: none;
      margin: 0 auto;
      padding: 0;
      letter-spacing: 0;
  }
  #PopUp > .v-card__actions >.modal-default-button .lbBtnPopUp {
    font-family: 'Anuphan-Regular';
    font-size: 18px;
    color: #3ba9fe;
    line-height: 23px;
  }
  .v-dialog {
    width: 100%;
    max-height: 100%;
  }